h1 {
    background-color: #4e4e4e;
    color: white;
    font-size: large;
}
nav {
    background-color:red;
}
div {
    background-color: #4e4e4e;
}
footer {
    background-color: #4e4e4e;
    color: white;
}
a:link, a:visited {
    background-color: #4e4e4e;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:focus {
    background-color: #242424;
    color: red;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  figcaption {
      color: blue;
      text-decoration: underline;
  }